<h1>New disc make</h1>

<% if @make.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@make.errors.count, "error") %> prohibited
      this make from being saved:
    </h2>
    <ul>
      <% @make.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>

<p><%= link_to 'All disc makes', makes_path %> | <%=link_to 'Home', owns_path %></p>
